@inherits BaseComponent

@using TimeTracker.Web.Shared.Components.Form
@using TimeTracker.Api.Shared.Dto.Entity
@using TimeTracker.Business.Common.Constants

<div class="w-time-entry-list">
    @foreach (var groupedItem in _groupedList)
    {
        <RadzenCard class="mb-3">
            <RadzenText 
                class="mb-3"
                TextStyle="TextStyle.H5">
                @groupedItem.Key.ToShortDateString()
            </RadzenText>

            <TimeEntryTable
                Items="@groupedItem"
                IsFilteredList="IsFilteredList"/>
        </RadzenCard>
    }
    <RadzenPager
        Count="@_totalCounter"
        AlwaysVisible="true"
        ShowPagingSummary="true"
        PageSize="@GlobalConstants.ListPageSize" PageChanged="OnPageChanged">
    </RadzenPager>
</div>
