@using TimeTracker.Api.Shared.Dto.Model.Report
@using TimeTracker.Business.Extensions
@using Fluxor
@using TimeTracker.Web.Store.Client
@using TimeTracker.Web.Store.Project

@code {

    [Parameter]
    public ICollection<SummaryByUsersReportItemDto> Items { get; set; } = new List<SummaryByUsersReportItemDto>();

}

<h3>Grouped by user:</h3>

<RadzenDataGrid
    TItem="SummaryByUsersReportItemDto"
    AllowSorting="false"
    EditMode="DataGridEditMode.Single"
    Data="@Items"
    AllowPaging="false">

    <Columns>
        <RadzenDataGridColumn
            TItem="SummaryByUsersReportItemDto"
            Title="User"
            Width="250px"
            TextAlign="TextAlign.Left">
            <Template Context="item">
                @item.UserName
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn
            TItem="SummaryByUsersReportItemDto"
            Title="Duration"
            TextAlign="TextAlign.Left">
            <Template Context="item">
                @item.Duration.ToReadableShortString()
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn
            TItem="SummaryByDaysReportItemDto"
            Title="Amount"
            TextAlign="TextAlign.Left">
            <Template Context="item">
                @item.Amount.ToMoneyFormat()
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
