@inherits BaseLayout

<RadzenLayout>
    <MainHeader/>
    <RadzenBody>
        <div class="container-fluid">
            @Body
        </div>
        @if (!IsShowReCaptcha)
        {
            <style>
                    .grecaptcha-badge {
                        visibility: hidden;
                    }
                </style>
        }
    </RadzenBody>
    <RadzenFooter>
        <Footer>
            <Footer>
                Copyright © @DateTime.Now.Year <a href="https://georgyshira.info/" target="_blank">Georgy Shira</a>
                Apache License Version 2.0
            </Footer>
        </Footer>
    </RadzenFooter>
</RadzenLayout>

<RadzenContextMenu/>
<RadzenDialog/>
<RadzenTooltip/>
<RadzenNotification/>
