.w-comment-edit-form ::deep {
    border-bottom: 1px lightgray solid;
    
    .w-circle {
        font-size: 6px; 
        color: var(--rz-base-400);
        margin: 0 4px;
    }
    
    .w-view {
        overflow-x: auto;
        max-width: 574px;
    }
}
