@inherits BaseLayout

<RadzenContextMenu/>
<RadzenDialog />
<RadzenTooltip />
<RadzenNotification/>

<RadzenLayout>
    @if (CommonState.Value.IsInitialized)
    {
        <MainHeader/>
        @if (IsShowMainMenu)
        {
            <NavMenu/>
        }    
    }
    <RadzenBody>
        <div class="w-container container-fluid">
            @if (CommonState.Value.IsInitialized)
            {
                @Body
            }
            else
            {
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
            }
        </div>
        @if (!IsShowReCaptcha)
        {
            <style>
                    .grecaptcha-badge {
                        visibility: hidden;
                    }
                </style>
        }
    </RadzenBody>
</RadzenLayout> 
