fluent-card {
    --elevation-shadow: none;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: none !important;
    padding: .5em 1rem;
}

.fluent-card-minimal-style {
    box-shadow: none !important;
    background-color: white !important;
    padding: .5em 1rem;
}
