fluent-card { 
    --elevation-shadow: none;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    padding: 1rem;
    box-shadow: none !important;
}

.fluent-card-minimal-style {
    box-shadow: none !important;
    background-color: white !important;
}
