@using TimeTracker.Api.Shared.Dto.Entity

<div class="@Class">
    @if (!Files.Any())
    {
        <RadzenCard
            class="m-0 mt-1 w-100">
            <RadzenText TextStyle="TextStyle.Subtitle1">No records to display.</RadzenText>
        </RadzenCard>
    }

    <RadzenDataList
        Count="Files.Count"
        ShowPagingSummary="false"
        WrapItems="true"
        AllowPaging="false"
        Data="@Files"
        TItem="StoredFileDto">
        <Template Context="item">
            <RadzenCard
                class="m-0 mt-1 w-100">
                <RadzenRow>
                    <RadzenColumn Style="max-width: 80px;">
                        <RadzenIcon Icon="attach_file"/>
                    </RadzenColumn>
                    <RadzenColumn>
                        @if (!string.IsNullOrEmpty(item.Title))
                        {
                            @item.Title
                        }
                        else
                        {
                            @item.OriginalFileName
                        }
                    </RadzenColumn>
                    <RadzenColumn Style="max-width: 80px;">
                        <RadzenButton
                            Click="() => OnClickDownload(item)"
                            Icon="file_download"
                            Size="ButtonSize.Small"
                            ButtonStyle="ButtonStyle.Light"/>
                        <RadzenButton
                            Click="() => OnCLickDelete(item)"
                            Icon="delete_outline"
                            Size="ButtonSize.Small"
                            ButtonStyle="ButtonStyle.Danger"/>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
</div>
