.w-markdown-editor {

    .w-view {
        cursor: pointer;
        min-height: 100px;
        padding: 1px;

        &:hover {
            background-color: var(--rz-base-100);
            border-radius: 3px;
        }
    }
}
