@page "/dashboard/report/time-entries"

@using TimeTracker.Web.Pages.Dashboard.Shared
@using TimeTracker.Web.Pages.Dashboard.Report.TimeEntry.Parts
@using TimeTracker.Web.Pages.Dashboard.Shared.TimeEntry

@inherits BaseComponent
@layout Layout

<div Style="margin: 10px auto;">
    <FilterForm/>
    <TimeEntryList IsFilteredList="@true"/>
</div>
