.w-goals-tracker {
    overflow-x: scroll;
    
    .w-goals-tracker-table {
        border-radius: 2px 2px 0 0;
        border-spacing: 0;

        thead th:first-child {
            min-width: 200px;    
        }
        
        thead th,
        tbody td {
            border: 1px solid #f0f0f0;
            text-align: center;
            
            &.w-active {
                border-left: 1px solid #00BCD4;
                border-right: 1px solid #00BCD4;
            }

            &.w-completed {
                background-color: #8BC34A;
                color: white;
            }
        }

        thead th {
            &.w-active {
                background-color: #80DEEA;
            }
        }

        tbody {

            td {
                &.w-row-selected {
                    background: #ccdaf5!important;
                }
            }
        }
    }    
}
