.w-goals-tracker-table {
    border-radius: 2px 2px 0 0;
    border-spacing: 0;
    overflow-y: scroll;
    
    thead th,
    tbody td {
        border: 1px solid #f0f0f0;
        text-align: center;
    }
    
    tbody {
        
        td {
            &.w-row-selected {
                background: #ccdaf5!important;
            }
        }
    }
}
