@inherits BaseComponent

@using TimeTracker.Api.Shared.Dto.RequestsAndResponses.Dashboard.WorkspaceMembership

<RadzenTemplateForm TItem="AddRequest" Data="@model" Submit="HandleSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="mb-3">
        <RadzenLabel
            Text="Enter email"
            TextStyle="@TextStyle.Subtitle2"/>
        <RadzenTextBox @bind-Value="model.Email" Class="w-100"/>
    </div>
    <RadzenButton
        ButtonType="ButtonType.Submit"
        Text="Add new member"/>
</RadzenTemplateForm>
