@page "/board"

@using TimeTracker.Web.Pages.Dashboard.Shared
@using TimeTracker.Web.Pages.Dashboard.Shared.TimeEntry

@inherits BaseComponent
@layout Layout

<RadzenCard class="no-gutters mx-n2">
    <TimeEntryForm/>
</RadzenCard>

<div class="mt-2 mx-n2">
    <TimeEntryList/>
</div>
