@import "common/variables";
@import "common/card";
@import "common/utils";
@import "components/preloader";
@import "components/layout";
@import "components/validation";
@import "components/tabs";

* {
    box-sizing: border-box;
}

body {
    --body-font: "Roboto", "Roboto", sans-serif;
    font-family: var(--body-font);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    margin: 0;
    height: 100%;
    width: 100%;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
