@page "/"

@using Layout = TimeTracker.Web.Pages.Dashboard.Shared.Layout

@inherits BaseComponent
@layout Layout

<div>
    <RadzenText TextStyle="TextStyle.DisplayH3" TextAlign="TextAlign.Center">
        Free and <a href="https://github.com/TimeVic/Main" target="_blank">open source</a> time tracker 
        <br/>
        for you or your team.
    </RadzenText>
</div>
<div>
    <RadzenText TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center">
        Track your time across projects.
    </RadzenText>
</div>
<div>
    <RadzenText TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center">
        Add your team members to your workspace to track time spent within a team.
    </RadzenText>
</div>
