@inherits BaseComponent

<div class="d-flex align-items-center">
    <RadzenBadge
        Shade="Shade.Lighter"
        BadgeStyle="BadgeStyle.Primary"
        Style="@(IsClickable ? "cursor: pointer" : "")"
        @onclick="OnClick"
        class="@($"{Class} d-flex align-items-center")"
        Text="@InternalTask.FormattedId"/>
</div>
