@inherits BaseComponent

@using TimeTracker.Web.Shared.Components.Form
@using TimeTracker.Web.Pages.Dashboard.TimeEntry.Parts

<div class="row d-flex px-3 justify-content-center w-time-form">
    <RadzenCard Class="w-100 d-flex">
        <div class="w-100 d-flex justify-content-start">
            @if (_state.Value.HasActiveEntry)
            {
                <RadzenButton
                    ButtonStyle="ButtonStyle.Secondary"
                    Class="mr-3"
                    Click="@(StopTimeEntry)"
                    Text="Stop"/>
            }
            else
            {
                <RadzenButton
                    ButtonStyle="ButtonStyle.Success"
                    Click="@(StartTimeEntry)"
                    Class="mr-3"
                    Text="Start"/>
            }
            <div class="w-time-inputs justify-content-between d-flex">
                <TimeCounterField
                    Value="@_state.Value.ActiveEntry?.StartTime" 
                    IsActive="@_state.Value.HasActiveEntry"/>
            </div>
        </div>
    </RadzenCard>
</div>
